# Telegram API Credentials
# Erhalte diese von https://my.telegram.org/apps
TELEGRAM_API_ID=12345678
TELEGRAM_API_HASH=abcdef1234567890abcdef1234567890
TELEGRAM_PHONE_NUMBER=+491234567890
TELEGRAM_SESSION_NAME=spam_session

